@import '../../../theme/abstracts/mixins.scss';

.about {
  width: 100%;
  box-shadow: 0rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.05);

  &__content {
    margin: 0 auto;
    padding: 4rem 2rem 3rem;
    width: 100%;
    max-width: 100rem;

    display: flex;
    gap: 4rem;
    flex-direction: column;

    @include tablet {
      padding: 8rem 2rem;
      display: grid;
      gap: 8rem;
      grid-template-columns: 40rem 1fr;
    }
  }

  &__image-wrapper {
    height: 20rem;
    width: 100%;
    background-color: var(--secondary);

    @include tablet {
      height: 100%;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
  }
  
  &__header {
    padding-bottom: 1.5rem;
    margin-bottom: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: solid 0.2rem var(--black);
  }

  &__title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: var(--fs-xxl);
    text-align: center;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: var(--fs-md);
    font-family: var(--ff-secondary);
    letter-spacing: 0.34rem;
    text-align: center;
  }

  &__animated-slogan {
    height: 6rem;
    width: 0;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    transition: width var(--very-slow);

    &--animated {
      width: 100%;
    }
  }

  &__slogan {
    position: absolute;
    top: 0;
    left: 0;

    color: var(--secondary);
    font-family: var(--ff-dupincel-large-test);
    font-size: var(--fs-xxxl);
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
  }

  &__paragraph {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__purple {
    color: var(--secondary);
    margin: 0 0.2rem;
  }
}
