@import '../../../theme/abstracts/mixins.scss';

.header {
  width: 100%;
  height: 100dvh;
  padding-top: 10rem;

  position: relative;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    z-index: var(--over);
    color: var(--white);
    font-family: var(--ff-cy-grotesk);
    font-weight: bold;
    font-size: var(--fs-xs);
    text-transform: uppercase;
    text-align: center;

    @include large-mobile {
      font-size: var(--fs-xl);
    }
  }

  &__subtitle {
    z-index: var(--over);
    color: var(--primary);
    font-family: var(--ff-dupincel-large-test);

    font-size: var(--fs-xxl);
    font-style: italic;
    text-align: center;

    @include large-mobile {
      font-size: var(--fs-xxxl);
    }
  }

  &__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    img {
      z-index: -1;
      aspect-ratio: 1366 / 768;
      object-fit: cover;
    }
  }
}
