@import '../../../theme/abstracts/mixins.scss';

.slogan {
  width: 100%;
  box-shadow: 0rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.05);

  &__content {
    width: 100%;
    max-width: 110rem;
    min-height: 70rem;
    margin: 0 auto;

    display: flex;
    gap: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include tablet {
      display: grid;
      grid-template-columns: 50rem 55rem;
      gap: 1rem;
    }
  }

  &__text {
    font-family: var(--ff-cy-grotesk);
    font-size: var(--fs-xxl);
    text-transform: uppercase;
    white-space: pre-line;
    line-height: 0.97;
  }

  &__purple {
    color: var(--secondary);
    font-weight: bold;
  }

  &__gallery {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: yellow;
  }

  &__img-wrapper {
    width: 24rem;
    height: 30rem;

    position: absolute;

    background-color: var(--secondary);

    transition: width var(--normal), height var(--normal);

    &--first {
      z-index: 1;
      top: 0;
      left: 0;
    }

    &--second {
      z-index: 2;
      top: 8rem;
      right: 5rem;
    }

    &--third {
      z-index: 3;
      bottom: 8rem;
      left: 5rem;
    }

    &--fourth {
      z-index: 1;
      bottom: 0;
      right: 0;
    }
  }
}
