@import '../../../theme/abstracts/mixins.scss';

.advantages {
  width: 100%;
  box-shadow: 0rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.05);
  min-height: 80dvh;
  display: grid;
  place-items: center;

  &__content {
    max-width: 120rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: end;
    }
  }

  &__img-wrapper {
    max-width: 100vw;
    // max-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    &--animated {
      animation: tension 4s;
      opacity: 1;
    }

    @include tablet {
      max-width: 30vw;
      max-height: 50vh;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__article {
    padding: 0 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;

    @include tablet {
      padding: 0 2rem;
    }
  }

  &__title {
    width: 0;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    font-family: var(--ff-cy-grotesk);
    font-size: var(--fs-xxl);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.97;
    font-weight: 100;

    transition: width var(--slow);

    &--animated {
      width: 100%;
    }
  }

  &__purple {
    color: var(--secondary);
    font-weight: bold;
  }

  &__list {
    max-width: 47.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  &__list-el {
    font-weight: bold;
  }

  &__uppercase {
    text-transform: uppercase;
  }
}

@keyframes tension {
  0% { transform: translateX(-5rem); opacity: 0; }
  25% { opacity: 1; }
  80% { transform: translateX(0.75rem); }
  100% { transform: translateX(0rem); }
}
