@import '../theme/abstracts/mixins.scss';

.home {
  min-height: 200dvh;

  &__highlight {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.05);

    &--mb {
      padding-bottom: 3rem;
    }

    @include large-mobile {
      min-height: 10rem;
    }

    @include tablet {
      min-height: 15rem;
    }
  }
}
