.branding {
  width: 100%;
  padding: 5rem 1rem;

  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__brand {
    aspect-ratio: 1 / 1;
    width: 9rem;
    height: 9rem;
  }
}
