.highlight-text {
  padding: 0 2rem;
  position: relative;

  font-family: var(--ff-dupincel-large-test);
  font-size: var(--fs-xxl);
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;

  &::before {
    content: '';

    z-index: -1;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    // background-color: var(--primary);
    background-image: url('/highlight-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
