@import '../../../theme/abstracts/mixins.scss';

.why-work-with-me {
  background-color: var(--primary);

  &__light {
    font-weight: 100;
  }

  &__bold {
    font-weight: 700;
  }

  &__content {
    width: 100%;
    max-width: 120rem;
    padding: 7.5rem 2rem;
    margin: 0 auto;
  }

  &__title {
    color: var(--secondary);
    font-size: var(--fs-xl);
    font-weight: 100;
    text-transform: uppercase;

    @include large-mobile {
      font-size: var(--fs-xxl);
    }
  }

  &__subtitle {
    line-height: 0.75;
    font-family: var(--ff-cy-grotesk);
    font-size: var(--fs-xxl);
    font-weight: bold;

    @include large-mobile {
      font-size: var(--fs-xxxl);
    }
  }

  &__articles {
    padding: 2rem 1rem 2.5rem;

    @include large-mobile {
      padding: 5rem 5rem 2.5rem;
    }

    @include tablet {
      padding: 7.5rem 10rem 2.5rem;
    }
  }

  &__article {
    margin-bottom: 2rem;
    font-size: var(--fs-xs);

    @include large-mobile {
      font-size: var(--fs-md);
    }
  }

  &__article-title {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: auto 1fr;
    align-items: center;

    color: var(--secondary);

    font-size: var(--fs-lg);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

    @include large-mobile {
      font-size: var(--fs-xl);
    }
  }
}
